<!-- Dots Navigation for Sections -->
<div class="dots-navigation">
    <a href="#about-me" class="dot" data-section="About Me"></a>
    <a href="#skills" class="dot" data-section="Skills"></a>
    <a href="#education" class="dot" data-section="Education"></a>
    <a href="#experience" class="dot" data-section="Experience"></a>
      
    {{/*  <div class="dot" data-section="About Me"></div>
    <div class="dot" data-section="Skills"></div>
    <div class="dot" data-section="Education"></div>
    <div class="dot" data-section="Experience"></div>  */}}
</div>