<footer class="footer">
    <div class="footer-content">
        <div class="social-links">
            <a href="{{ .Site.Params.github_url }}" target="_blank">GitHub</a>
            <a href="{{ .Site.Params.linkedin_url }}" target="_blank">LinkedIn</a>
            <a href="mailto:{{ .Site.Params.email }}">Email</a>
        </div>
        <p>&copy; 2024 Carles. All Rights Reserved.</p>
        <p class="made-by">Made with <span class="heart">♥</span> by Carles Ibáñez Trullén</p>
    </div>
</footer>